@model Formular.BaaS.Domain.AppDivision
<h4 class="text-info">Application</h4>
<dl>
    <dt>@Html.DisplayNameFor(model => model.Name)</dt>
    <dd>@Html.DisplayFor(model => model.Name)</dd>
    <dt>@Html.DisplayNameFor(model => model.Desc)</dt>
    <dd>@Html.DisplayFor(model => model.Desc)</dd>
    <dt>@Html.DisplayNameFor(model => model.IsUsed)</dt>
    <dd>@Html.DisplayFor(model => model.IsUsed)</dd>
</dl>
