@model IEnumerable<Formular.BaaS.Domain.AppDivision>
<table id="AppDivisionTable" class="table table-bordered zebra-striped dataTable table-hover table-condensed">
    <thead>
        <tr role="row">
            <th class="header" role="columnheader" tabindex="0" aria-controls="AppDivisionTable" rowspan="1" colspan="1" style="width: 60px;">@Html.DisplayNameFor(model => model.First().Name)</th>
            <th class="header" role="columnheader" tabindex="0" aria-controls="AppDivisionTable" rowspan="1" colspan="1" style="width: 60px;">@Html.DisplayNameFor(model => model.First().Desc)</th>
            <th class="header" role="columnheader" tabindex="0" aria-controls="AppDivisionTable" rowspan="1" colspan="1" style="width: 20px;">@Html.DisplayNameFor(model => model.First().IsUsed)</th>
            <th class="header" role="columnheader" tabindex="0" aria-controls="AppDivisionTable" rowspan="1" colspan="1" style="width: 30px;"></th>
            <th class="header" role="columnheader" tabindex="0" aria-controls="AppDivisionTable" rowspan="1" colspan="1" style="width: 30px;"></th>
            <th class="header" role="columnheader" tabindex="0" aria-controls="AppDivisionTable" rowspan="1" colspan="1" style="width: 30px;"></th>
            <th class="header" role="columnheader" tabindex="0" aria-controls="AppDivisionTable" rowspan="1" colspan="1" style="width: 30px;"></th>
            <th class="header" role="columnheader" tabindex="0" aria-controls="AppDivisionTable" rowspan="1" colspan="1" style="width: 30px;"></th>
            <th class="header" role="columnheader" tabindex="0" aria-controls="AppDivisionTable" rowspan="1" colspan="1" style="width: 30px;"></th>
        </tr>
    </thead>
    <tbody>
        @if (Model == null)
        {
            <tr><td colspan="4"><p>데이터가 없습니다.</p></td></tr>
        }
        else
        {
            foreach (Formular.BaaS.Domain.AppDivision item in Model)
            {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Name)</td>
                <td>@Html.DisplayFor(modelItem => item.Desc)</td>
                <td>@Html.DisplayFor(modelItem => item.IsUsed)</td>
                <td><a href="@Url.Action("Details", "BaaSApplication", new { id = item.Id , view="tab1" })" class="btn btn-small btn-block" title="Roles" ><i class='icon-filter'></i> @item.Roles.Count() </a></td>
                <td><a href="@Url.Action("Details", "BaaSApplication", new { id = item.Id , view="tab2" })" class="btn btn-small btn-block" title="Users" ><i class='icon-user'></i> @item.Users.Count() </a></td>
                <td><a href="@Url.Action("Details", "BaaSApplication", new { id = item.Id , view="tab3"})" class="btn btn-small btn-block" title="Program" ><i class='icon-list-alt'></i> @item.Programs.Count() </a></td>
                <td><a href="@Url.Action("Details", "BaaSApplication", new { id = item.Id , view="tab4"})" class="btn btn-small btn-block" title="Operation" ><i class='icon-tasks'></i> @item.Operations.Count() </a></td>
                <td><a href="@Url.Action("Details", "BaaSApplication", new { id = item.Id , view="tab5"})" class="btn btn-small btn-block" title="Program Menu" ><i class='icon-th-list'></i> @item.ProgramMenus.Count() </a></td>
                <td><div class="btn-group"> @* btn-primary  btn-info  btn-warning  btn-danger*@
                <a href="@Url.Action("Edit", "BaaSApplication", new { id = item.Id })" class="btn btn-small" title="Edit" ><i class='icon-edit'></i></a>
                <a href="@Url.Action("Details", "BaaSApplication", new { id = item.Id })" class="btn btn-small" title="Detail" ><i class='icon-info-sign'></i></a>
                <a href="@Url.Action("Delete", "BaaSApplication", new { id = item.Id })" class="btn btn-small" title="Delete"><i class='icon-trash'></i></a>
        )</div></td>
            </tr>
            }
        }
    </tbody>
</table>