@model Formular.BaaS.Domain.User

@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/BaaSMng/Views/Shared/_2ColLayout.cshtml";
}

@section SideContent
{
    <div class="row-fluid">
        <div class="span12" >
            <blockquote>
              <p>User</p>
              <small>User Edit</small>
            </blockquote>
            @Html.Partial("../BaaSApplication/_LeftInfo", Model.AppDivision as AppDivision)
        </div>
    </div>
}

<div class="row-fluid">
    <div class="span12"> 

@using (Html.BeginForm(ViewContext.RouteData.GetRequiredString("action"), ViewContext.RouteData.GetRequiredString("controller"), FormMethod.Post, new { @class = "form-horizontal" }))
{
    <fieldset>
        <legend>User</legend>
    <div class="control-group">
            @Html.LabelFor(model => model.MemberDetail.Email, new { @class = "control-label" })
            <div class="controls">
                <div class="input-prepend">
                @Html.EditorFor(model => model.MemberDetail.Email)
                @Html.ValidationMessageFor(model => model.MemberDetail.Email)
                </div>
            </div>
        </div>
        <div class="control-group">
            @Html.LabelFor(model => model.MemberDetail.PasswordQuestion, new { @class = "control-label" })
            <div class="controls">
                <div class="input-prepend">
                @Html.EditorFor(model => model.MemberDetail.PasswordQuestion)
                @Html.ValidationMessageFor(model => model.MemberDetail.PasswordQuestion)
                </div>
            </div>
        </div>
        <div class="control-group">
            @Html.LabelFor(model => model.MemberDetail.PasswordAnswer, new { @class = "control-label" })
            <div class="controls">
                <div class="input-prepend">
                @Html.EditorFor(model => model.MemberDetail.PasswordAnswer)
                @Html.ValidationMessageFor(model => model.MemberDetail.PasswordAnswer)
                </div>
            </div>
        </div>

        <div class="control-group">
            @Html.LabelFor(model => model.MemberDetail.Comment, new { @class = "control-label" })
            <div class="controls">
                <div class="input-prepend">
                @Html.EditorFor(model => model.MemberDetail.Comment)
                @Html.ValidationMessageFor(model => model.MemberDetail.Comment)
                </div>
            </div>
        </div>
        <p>
            <input type="submit" value="Edit" />
        </p>
        </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

</div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
